body {
  /*background-image:url('../images/anchorman.jpg');*/
  background-repeat:no-repeat;
  /*background-size:contain;*/
  background-position:top;
  background-color: #555;
  font: 12pt Helvetica, sans-serif;
}

.container {
  margin: 20px auto;
  width: 70%;
  min-width: 320px;
  max-width: 700px;
  padding: 10px 10px 10px 10px;
  border: 1px dotted white;
}

#header, #links, #date {
  text-align: center;
}

#header {
  font-size: 50px;
  color: white;
}

#date {

}

.headline {
  /*color: #eee;*/
  font-size: 30px;

}

.snippet {
  /*color: #fff;*/
}

.news_image {
  border: black solid 1px;
  /*float: left;*/
}

.news_container {
  border: black solid 1px;
  background-color: rgba(255,255,255,0.4);
/*  border-radius:12px;*/
  /*border-bottom-left-radius:10px;*/
  border-bottom-right-radius:10px;
  /*border-bottom: black solid 1px;*/
  padding: 5px;
  /*float: right;*/
}
.clear { clear: both;}

.more {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

a {
  font-size: 19px;
  color: black;
  text-decoration: none;
}

input {
  color: gray;
}
