body {
  font: 12pt Helvetica, sans-serif;
}

.container {
  margin: 5px auto;
  width: 320px;
  padding: 10px 10px 10px 10px;
}

#header {
  font-size: 40px;
  color: white;
}

.header-image {
  width:100%;
}