<div class="home_page">
  <% @stories.each do |story| %>
    <div class='news_container'>
      <span class='headline'><%= story.headline %></span>
      <p class='snippet'><%= story.snippet %> <a href="<%= story.url %>" target="_blank" class="more">read more</a>.</p>

    </div>
    <p>
  <% end %>
</div>
