<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width = device-width">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Happy Headlines</title>
</head>
<body>
  <div class="header">
    <img class=header-image src="../images/hh_clouds.png">
  </div>
  <div class="navbar">
    <a href="/categories/news">News</a> | 
    <a href="/categories/sports">Sports</a> | 
    <a href="/categories/pop">Pop Culture</a> | 
    <a href="/categories/science">Science</a> | 
    <a href="/categories/space">Space</a> | 
    <a href="/categories/technology">Technology</a> | 
    <a href="/categories/humor">Games and Humor</a> | 
    <a href="/categories/fineart">Fine Art</a> |
    <a href="/categories/digital">Digital Life</a>
  </div>
  <div class="date-form">
    <form action="/date" method="get">
      <input  type="date" name="date" style="width:150px">
      <input type="submit" value="Happy News?">
    </form>
  </div>

  <div class='container'>
    <%= yield %>
  </div>
</body>
<footer>
  Because regular news is totally depressing!
</footer>
</html>